h2.list-group {
    margin:0px;
}


.car-source {
    font-size: 0.9em;
    margin-bottom:10px;
}

.car-item.court {
    font-size: smaller;
}

@media screen and (min-width: 1024px) {


	#stage-content {
		width: 60%;
	}
}

.list-container {
    margin-top: 25px;
}

.car-summary p {
    line-height: 1.4em;
    margin-bottom: 0.6em;
}

#search-query {
    font-style:italic;
}

.additional-info.car-meta {
    font-size: 0.8em;
    margin-top: 8px;
    border-top: 0.5px solid #eaeaea;
    border-left: 5px solid #dbd6d6;
    padding-left: 5px;
}



.list-header {
    margin-bottom: 10px;
    font-size: 18px;
}

.form-inline {
    margin-left: -5px;
}



.car-rank {
    color: rgba(203,167,94,1.0);
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
}


.car-container{
    border-radius:5px;
    margin-bottom: 40px;
}

.is-new{
    background-color: rgba(255,255,0,0.4);
}

.is-test::before{
    content: "This is a test case review.";
}

.is-draft{
    border: 6px dashed #ccc;
}

a{
    text-decoration: none;
}



.error-pop-up-container{
    text-align: center;
    background-color: orange;
    font-weight: bolder;
}

label{
    display: block;
}

.car-meta span {
    display: inline-block;
    margin-right: 8px;
}

.admin-area{
    text-align: right;
    float: right;
}

.title {
    font-weight: 900;
}

.subject-2{
    margin-bottom: 2%;
}

.additional-info label{
    display: inline-block;
    margin-right: 10px;
}

.checkbox-label, .checkbox-option{
    display: inline-block;
}
.delete-review{
    margin-right: 10px;
}

.car-item.title {
    font-size: 20px;
    line-height: 30px;
    display:inline-block;
    vertical-align:middle;
}
.sidenav{
    display:none;
}

.subject-header {
    width: 80%;
    padding: 50px 0 15px 0;
    margin: 0 auto;
}

.is-first{

    padding-top:0px;
}

.add-review{
    float:unset;
}





@media only screen and (max-width:768px){
    .car-container{
        width:100%;
    }
    #stage-content{
        padding:0px;
    }

    /*
    .car-sub-container{
        width: 100%;
        padding: 15px;
    }
    select{
        max-width:65%;
    }
    .add-review {
        float: unset;
        margin-left: 0px;
        display: block;
    }
    .admin-area{
        float:unset;
        text-align:unset;
    }

    */
}


.meta-highlight {
    padding:3px;
    border-radius: 2px;
    cursor: pointer;
    
}

.meta-highlight:hover,
.meta-hightlight:hover a {
    background-color: #5050cd;
    color:white !important;
}